* {
    background: black;
    color: pink;
    font-family: 'VT323', monospace;
    margin: 0px;
    padding: 0px;
}

/* #box {
    margin: auto;
    margin-top: 10%;
    width: 30%;
    padding: 10px;
} */

body {
    float: left;
    text-align: left;
    width: 20%;
    margin-left: 10%;
    margin-top: 80px;
}

h1 {
    font-size: 60px;
    margin: 0px;
    padding-bottom: 20px;
/*     border-bottom: 4px solid #a6a7cf; */
}

li {
    color: white;
    text-align: left;
    list-style-type: none;
    font-size: 40px;
    padding-bottom: 10px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_grid */
/* .the-list {
    display: grid;
    padding: 0px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    color: #a6a7cf;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */

.the-list {
    padding: 0px;
    margin: 0px;
}

.grid-item:hover {
    background: pink;
    color: black;
}

#box2 {
    position: absolute;
    left: 30%;
    top: 10%;
/*     border: 1px solid pink; */
    width: 60%;
    height: 80%;
    padding: 20px;
    font-size: 25px;
}

#text-display {
    color: lightblue;
}